<div class="section-title search">
    <div class="container-fluid">
        <nav class="navbar navbar-content navbar-light p-0">
            <span class="d-inline-block navbar-brand mb-0 text-uppercase">Home <span>&#187;</span> Blog</span>
            <form class="form-inline float-md-right d-inline-block">
                <input class="form-control" type="text" id="search-input" placeholder="Search this website..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="button">Search</button>
            </form>
        </nav>
    </div>
</div>
</div>
<span class="gradient-line"></span>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-8">
                {{#each meal}}
                <div class="blog mb-5">
                    <a href="#/meal/{{title}}" title="meal">
                        <h5 class="part-title">{{title}}</h5>
                    </a>
                    <div>Posted by Admin on {{date}} in {{category}}</div>
                    <div class="row pl-0">
                        <div class="col-8 col-sm-6 col-md-6">
                            <img src="{{imageURL}}" class="img-fluid img-thumbnail rounded-0" alt="food-img">
                        </div>
                        <div class="col-4 col-sm-6 col-md-6">
                            <p>{{description}}</p>
                            <div class="text-right">
                                <a href="#/meal/{{title}}" title="read-more" class="btn">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        {{#each this.indeces}}
                        <li class="page-item"><a class="page-link" href="#/blog/{{this}}">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </nav>
            </div>

        <aside class="col-12 col-sm-5 col-md-3 ml-auto aside-content">
            <div class="pb-4 list-posts">

            </div>
            <div class="pb-4 list-comments">

            </div>
            <h5 class="text-uppercase">Meta</h5>
            <div class="shadow">
                <ul class="list-unstyled">
                    <li><a href="#/home" title="link-footer">Home</a></li>
                    <li><a href="#/location" title="link-footer">Location</a></li>
                    <li><a href="#/menu" title="link-footer">Menu</a></li>
                    <li><a href="#/gallery/1" title="link-footer">Gallery</a></li>
                    <li><a href="#/blog/1" title="link-footer">Blog</a></li>
                    <li><a href="#/contactus" title="link-footer">Contact Us</a></li>
                    <li><a href="#/login" title="link-footer">Member Login</a></li>
                </ul>
            </div>
        </aside>
        </div>
    </div>
</section>
<span class="gradient-line"></span>