{{#if comments.length}}
    <h2 class="text-uppercase mb-4">{{comments.length}} Commnets</h2>
    {{#each comments}}
        <div class="row">
            <div class="col-12 col-sm-3 col-md-2 pr-0 pl-0">
            <div class="avatar">
                <img src="../images/avatar-comment.png" alt="avatar" class="img-thumbnail">
                <div class="comment-date font-italic">{{date}}</div>
            </div>
        </div>
        <div class="col-12 col-sm-9 col-md-10 pl-0 pr-0">
            <div class="shadow">
                <div class="comment-content comment-bubble">
                    <div class="author">{{name}} says:</div>
                    <div class="comment-text">{{comment}}</div>
                    <div class="text-right">
                        <button class="btn">Replay</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    {{/each}} 
{{else}}
    <div>
        <h2 class="text-uppercase mb-4">Commnets</h2>
        <h6>No Comments yet!</h6> 
    </div>
{{/if}}