<div class="section-title">
  <div class="container">
    <div class="text-center">
      <h3>Your awesome company slogan goes right over here, we have the best food around</h3>
      <h5>unc elementum lacus in gravida pellentesque urna dolor eleifend</h5>
      <img src="../images/stars.png" alt="stars" />
    </div>
  </div>
</div>
<span class="gradient-line"></span>
<section>
  <div class="container-fluid home-view-container">
    <div class="row">
      <div class="col recommendations">
        <h5 class="part-title pb-2">Chef's recommendations</h5>
        <ul class="list-unstyled">
          {{#each meal}}
            <li class="row pb-2">
              <div class="col-3 pr-0 pl-0">
                <img class="img-fluid img-thumbnail rounded-0" src="{{image._downloadURL}}" alt="Generic placeholder image">
              </div>
              <div class="col-9 pr-2 pt-1">
                <a href="#/meal/{{_id}}">
                  <h5 class="mb-1">{{title}}</h5>
                </a>
                <p class="d-inline-block text-truncate mb-0" style="max-width:180px;">
                  {{description}}
                </p>
                <a href="#/meal/{{_id}}" class="d-block"><span>Read more</span></a>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="col map">
        <h5 class="part-title pb-2">Location and hours of operation</h5>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?q=888%20E%20Tahquitz%20Canyon%20Way%20Palm%20Springs&key=AIzaSyA30gTZgdEDO-4X0Y-nroAlnxJlf0aZlJs"
            allowfullscreen></iframe>
        </div>
        <div class="location mb-1 mt-2">888 E Tahquitz Canyon Way, CA 92262</div>
        <div class="time">
          <span>mon-fri</span>
          <span class="hour">8am-6pm</span>
          <span>sat-sun</span>
          <span class="hour">8am-10pm</span>
        </div>
      </div>
      <div class="col testimonials">
        <h5 class="part-title pb-2">Customer testimonials</h5>
        <div class="shadow">
          <div class="bubble">
            <img src="../images/avatar-customer.png" alt="customer" class="img-fluid img-thumbnail rounded-0" />
            <div class="testimonials-bubble">
              <h5>Nick Roach</h5>
              <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra enim lacus, at dictum velit volutpat eu. Nullam
                ut risus vehicula, facilisis arcu sed, volutpat libero. Ut imperdiet tellus nec urna sagittis, sit amet laoreet
                arcu ultrices. Aenean orci erat."
              </p>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<span class="gradient-line"></span>
