<div class="section-title search">
    <div class="container-fluid">
        <nav class="navbar navbar-content navbar-light p-0">
            <span class="d-inline-block navbar-brand mb-0 text-uppercase">Home <span>&#187;</span>Menu <span>&#187;</span>{{title}}</span>
            <form class="form-inline float-md-right d-inline-block">
                <input class="form-control" type="text" id="search-input" placeholder="Search this website..." aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="search-btn" type="button">Search</button>
            </form>
        </nav>
    </div>
</div>
</div>
<span class="gradient-line"></span>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-7 col-md-8">
                <div class="post clearfix">
                    <img src="{{image._downloadURL}}" class="img-fluid img-thumbnail rounded-0" alt="food-img">
                    <div>
                        <div class="comment-info">Posted by Admin in {{category}} on {{date}}</div>
                        <p>{{description}}</p>
                    </div>
                </div>
                <div class="comments">
                    <div class="single-comment">

                    </div>
                    <div class="comment-form form-container">
                        <h2 class="text-uppercase mt-5">Leave a comment</h2>
                        <form class="form hidden is-auth" name="form" action="#/comments" method="POST">
                            <label for="comment-text" class="sr-only">Comment</label>
                            <textarea placeholder="Comment" id="comment-text" name="commentText" class="w-100" rows="4" required></textarea>
                            <div class="text-right">
                                <button type="submit" class="btn">Submit comment</button>
                            </div>
                        </form>
                        <div class="not-auth">
                            Only registered users may leave a comment, please
                            <a href="#/login" class="font-italic">login</a> or
                            <a href="#/login" class="font-italic">register</a>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="col-12 col-sm-4 col-md-3 ml-auto aside-content">
                <div class="pb-4 list-posts">

                </div>
                <div class="pb-4 list-comments">

                </div>
                <h5 class="text-uppercase">Meta</h5>
                <div class="shadow">
                    <ul class="list-unstyled">
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/location">Location</a></li>
                        <li><a href="#/menu">Menu</a></li>
                        <li><a href="#/gallery/1">Gallery</a></li>
                        <li><a href="#/blog/1">Blog</a></li>
                        <li><a href="#/contactus">Contact Us</a></li>
                        <li><a href="#/login">Member Login</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</section>
<span class="gradient-line"></span>